$bgColor: #f5f8fa;
$taskBgColor: white;
$backdropColor: rgb(202, 202, 202);
$textColor: #3a4a5a;
$formBtn: rgb(2, 143, 25);
$highColor: rgb(155, 52, 23);
$mediumColor: rgb(203, 178, 11);
$lowColor: rgb(65, 128, 170);
$radius: 5px;
$taskBtn: rgb(144, 144, 144);
$borderColor: rgb(221, 221, 221);
$font: Poppins,
"Courier New",
Courier,
monospace;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin task-title($color) {
    background: $color;
    color: white;
    position: absolute;
    padding: 3px 15px;
    border-radius: $radius;
    font-size: 0.8rem;
    font-weight: 500;
    top: -12px;
}

body {
    background-color: $bgColor;
    padding: 10px 0;
    font-family: $font;
    color: $textColor;
}

.footer {
    border-top: 1px solid $borderColor;
    padding-top: 10px;
}

.form-field {
    label {
        font-size: 14px;
        margin-bottom: 3px;
        color: rgb(122, 122, 122);
        display: block;
    }
    margin-bottom: 15px;
}

@mixin form-btn($bg, $color: white) {
    background: $bg;
    color: $color;
    padding: 10px 20px;
    border: none;
    box-shadow: 0px 0px 2px rgb(198, 198, 198);
    border-radius: $radius;
}

.btn-primary {
    @include form-btn($formBtn);
}

.form-input {
    display: block;
    width: 100%;
    border: 1px solid $taskBtn;
    padding: 10px;
    border-radius: $radius;
}

.priority {
    display: flex;
    .radio {
        display: flex;
        align-items: center;
        margin: 0 12px;
         :last-child {
            margin-left: 5px;
            margin-top: 5px;
        }
    }
     :first-child {
        margin-left: 0;
    }
     :first-child {
        margin-right: 0;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        background: $bgColor;
        width: 360px;
        border-radius: $radius;
        .close-btn {
            background: transparent;
            border: none;
            color: $taskBtn;
        }
        .header {
            display: flex;
            justify-content: space-between;
            padding: 10px 15px;
            border-bottom: 1px solid $borderColor;
        }
        .body {
            padding: 10px 15px;
        }
    }
}

.add-btn {
    background-color: $textColor;
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    margin: 2.5rem 1.5rem;
    border-radius: 30px;
    box-shadow: 0px 0px 2px rgb(198, 198, 198);
}

.main-container {
    background-color: $bgColor;
    height: 100vh;
    width: 360px;
    margin: 0 auto;
    position: relative;
    padding-top: 1rem;
    .title {
        color: $textColor;
        font-weight: 600;
        margin-bottom: 3rem;
    }
}

.task-container {
    margin: 2rem 0;
    background-color: $taskBgColor;
    position: relative;
    padding: 0.6rem;
    border-radius: $radius;
    box-shadow: 0px 0px 2px rgb(198, 198, 198);
    // Task Title
    .high {
        @include task-title($highColor);
    }
    .medium {
        @include task-title($mediumColor);
    }
    .low {
        @include task-title($lowColor);
    }
    .list {
        list-style: none;
        padding-top: 0.9rem;
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5rem;
            .state-task {
                display: flex;
                .task {
                    padding-left: 8px;
                    cursor: pointer;
                    font-size: 0.9rem;
                }
            }
            .date {
                font-size: 10px;
                color: #aaa;
            }
        }
    }
    .empty {
        text-align: center;
        color: #ccc;
        font-size: 1rem;
        margin: 10px 0;
    }
}